:root {
  --primery-color: #2196f3;
  --main-txt-color: #212121;
  --background-color: #e5e5e5;
  --primery-font: 'Roboto', san-serif;
  --secondary-font: 'Raleway', san-serif;
}
ul,
ol {
  list-style: none;
}

/*Вынесены общие стили*/
body {
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: normal;
  background: var(--background-color);
  color: var(--main-txt-color);
}
a {
  text-decoration: none;
}
/*Конец вынесения общих стилей*/

/*Вынесены стили хэдэра*/
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-color);
}
.logo > span {
  color: #000000;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
.link:hover {
  color: var(--primery-color);
}
.link:focus {
  color: var(--primery-color);
}
/*Конец вынесения стилей хэдера*/

/*Вынесены стили кнопок*/
.order-button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--primery-color);
}
.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button:hover {
  background: var(--primery-color);
  color: #ffffff;
}
.bbutton:focus {
  background: var(--primery-color);
  color: #ffffff;
}
/*Конец вынесения стилей кнопок*/

/*Вынесены стили заголовков и подписей*/
.big-box {
  background-color: #2f303a;
}
.heading-first {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-color);
}
.heading-second {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.heading-third {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.heading-fourth {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Конец вынесения стилей заголовков и подписей*/

/*Вынесены стили абзацов*/
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Конец вынесения стилей абзацов*/

/*Вынесены стили футера*/
.footer-contact {
  font-family: var(--primery-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-contact > .footer-contact {
  color: #ffffff;
}
.footer-box-portfolio,
.footer-box-index {
  background-color: #2f303a;
}

.footer-box-portfolio > .logo > span,
.footer-box-index > .logo > span {
  color: #ffffff;
}
/*Конец вынесения стилей футера*/
